@model IEnumerable<Biblioteca.Web.Data.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

@if (this.User.Identity.IsAuthenticated && (this.User.IsInRole("Admin") || this.User.IsInRole("Staff") || this.User.IsInRole("Reader")))
{
    <p>
        <a asp-action="Create" class="btn btn-primary"> <i class="fa-regular fa-plus fa-xl" style="color: #FFCB74;"></i> Create New</a>

    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverId)
            </th>
         @*   <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanLimitQuantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px; height:150px;max-width:100% ; height:auto">
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.LoanLimitQuantity)
                </td>
                <td>
                    @if (this.User.Identity.IsAuthenticated && (this.User.IsInRole("Admin") || this.User.IsInRole("Staff")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i>    Details</a>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>    Delete</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
