@model IEnumerable<Biblioteca.Web.Data.Entities.Genre>

@{
    ViewData["Title"] = "Index";
}

    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
    <p>
        <a asp-action="Create" class="btn btn-primary">Add Genre</a>

    </p>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> @*EDIT BUTTON*@
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a> @*DELETE BUTTON*@
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> @*DETAILS BUTTON*@
                    <a asp-action="ViewBooks" asp-route-genreName="@item.Name" class="btn btn-primary">View Books</a>
            </td>
        </tr>
}
    </tbody>
</table>
