@model Biblioteca.Web.Data.Entities.Reservation

@{
    ViewData["Title"] = "Delete";
}
<h3>Are you sure you want to delete reservation number @Html.DisplayFor(model => model.ReservationNumber)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Borrower)
        </dd>
        <dt class = "col-sm-2">
            <a>Reservation Number</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</button>
        <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
    </form>
</div>
