@model IEnumerable<Biblioteca.Web.Data.Entities.Lend>

@{
    ViewData["Title"] = "Index";
}

<h1>Lends</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.LendDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.LendDateLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" id="btnDelete">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>