@model IEnumerable<Biblioteca.Web.Data.Entities.Lend>

@{
    ViewData["Title"] = "Index";
}

<h1>Lends</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Display/Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lend Number
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.LendDateLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevolutionDate)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.LendDateLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevolutionDate)
                </td>
                
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn"> <i class="fa-solid fa-trash-can fa-lg" style="color: #9A8174;"></i> Delete</a> @*DELETE BUTTON*@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn"> <i class="fa-solid fa-info fa-lg" style="color: #9A8174;"></i> Details</a> @*DETAILS BUTTON*@
                </td>
            </tr>
        }
    </tbody>

</table>