@model IEnumerable<Biblioteca.Web.Data.Entities.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>


    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <p>

        <a asp-action="Create" class="btn btn-primary"> <i class="fa-regular fa-user fa-xl" style="color: #FFCB74;"></i> Create New</a>
        
                        </p>
                    }

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.AuthorImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFullPath))
                    {
                        <img src="@Url.Content(item.ImageFullPath)" alt="Image" style=" width:100px; height:150px;max-width:100%; height:auto">
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                
                <td>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i>    Delete</a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i>    Details</a>
                    
            </td>
                
        </tr>
}
    </tbody>
</table>
