@model IEnumerable<Biblioteca.Web.Data.Entities.Membership>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                    <p>
                    <a asp-action="Create">Create New</a>
                    </p>
                    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignUpFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeRateSixMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargeRateTwelveMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignUpFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeRateSixMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeRateTwelveMonth)
            </td>
            <td>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
